* {
    margin: 0;
}

.falling-snow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100%;
    height: 100vh;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 600;
    margin: 12px;
}